.search{
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5rem;
  border: 2px solid;
  border-color: var(--purple-100);
  background: transparent;
  outline: transparent;
  color: var(--purple-100);

}