.background{
  width: 100%;
  height: 100vh;
  background: url('/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.handlerContainer{
  text-align: center;
  margin: auto;
  align-items: center;
  background: transparent;
  
  
  h1{
    font-weight: 100;
    font-size: 10rem;
    letter-spacing: 0.5rem;
  }

  h3{
    margin-top: -2rem;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  p{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
    font-weight: 200;
  }

  button{
    
    padding: 0.5rem 2rem;
    background: transparent;
    border-radius: 4rem;
    border-color: var(--purple-100);
    border: 2px solid;
    &:hover{
      color: #BB46B7;
    }
  }
}